/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define FNUM    1
#define NAV     2
#define SYM     3

/* Uncomment this block if using RGB
&led_strip {
    chain-length = <6>;
    // chain-length = <31>; // Uncomment if using both per-key and underglow LEDs
    // chain-length = <25>; // Uncomment if using only per-key LEDs.
};
 */

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  DEL  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
            // |  VIM  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   GUI   |   GUI   |  | L SHIFT |  DEL    |  N   |  M    |  ,    |  .   |   /   | CTRL |
            //                     | GUI  | DEL  | SYM  |SPACE/NAV| TAB/FNUM|  |   RET   |  BSPC   | TAB  | BSPC  | R-ALT |
            bindings = <
            &kp DEL &kp Q &kp W &kp E &kp R &kp T                                                   &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSLH
            &mt LCTRL ESC &kp A &kp S &kp D &kp F &kp G                                             &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
            &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LGUI &kp LGUI       &kp LSHFT &kp DEL &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
            &kp LGUI &kp DEL &kp LGUI &lt NAV SPACE &lt FNUM TAB            &lt SYM BSPC  &kp RET  &kp TAB &kp BSPC &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };


        
        fnum_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  | none |  F1 |  F2  |  F3  |  F4  |                                          |  7   |  8    |  9    |  -   |   =   |   \  |
            // |  VIM  | none |  F5 |  F6  |  F7  |  F8  |                                          |  4   |  5    |  6    |  *   |   ;   |   '  |
            // | SHIFT | none |  F9 |  F10 |  F11 |  F12 | L SHIFT | L SHIFT |  | L SHIFT |  DEL    |  1   |  2    |  3    |  .   |   /   | CTRL |
            //                      | GUI  | DEL  | GUI  |  SPACE  |   ESC   |  |   RET   |  BSPC   |  0   | BSPC  | R-ALT |
            bindings = <
            &kp ESC       &none &kp F1 &kp F2  &kp F3  &kp F4                                         &kp N7 &kp N8  &kp N9 &kp MINUS &kp EQUAL  &kp BSLH
            &mt LCTRL ESC &none &kp F5 &kp F6  &kp F7  &kp F8                                         &kp N4 &kp N5  &kp N6 &kp STAR  &kp SEMI &kp SQT
            &kp LSHFT     &none &kp F9 &kp F10 &kp F11 &kp F12 &kp B &kp LSHFT      &kp LSHFT &kp DEL &kp N1 &kp N2  &kp N3  &kp DOT &kp FSLH &kp RCTRL
            &kp LGUI &kp DEL &kp LGUI &kp SPACE &kp TAB                             &kp RET  &kp BSPC  &kp N0 &kp BSPC &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };


        nav_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   \  |
            // |  VIM  |  A  |  S  |  D   |  F   |  G   |                                          |  ⬅   |  ⬇    |  ⬆    |  ⮕   |   ;   |   '  |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  M    |  ,    |  .   |   /   | CTRL |
            //                     | GUI  | DEL  | GUI  |  SPACE  |   ESC   |  |   RET   |  BSPC   | TAB  | BSPC  | R-ALT |
            bindings = <
            &kp ESC &kp Q &kp W &kp E &kp R &kp T                                                   &kp N7 &kp N8  &kp N9 &kp O   &kp P    &kp BSLH
            &mt LCTRL ESC &kp A &kp S &kp D &kp F &kp G                                             &kp LEFT &kp DOWN &kp UP  &kp RIGHT &kp SEMI &kp SQT
            &kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT             &kp LSHFT &kp LSHFT &kp N1 &kp N2  &kp N3  &kp DOT &kp FSLH &kp RCTRL
            &kp LGUI &kp DEL &kp LGUI &kp SPACE &kp TAB                             &kp RET  &kp BSPC  &kp N0 &kp BSPC &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        sym_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |        |  !  |  @  |  {   |  }   |  |   |                                          |  &   |  *    |  ;    |  :   |       |   \  |
            // |        |  #  |  $  |  (   |  )   |  `   |                                          |  -   |  <    |  >    |  '   |   ;   |   '  |
            // |        |  %  |  ^  |  [   |  ]   |  ~   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  _   |  =    |  +    |  "   |   /   | CTRL |
            //                      | GUI  | DEL  | GUI  |  SPACE  |   ESC   |  |   RET   |  BSPC   | TAB  | BSPC  | R-ALT |
            bindings = <
            &kp ESC       &kp EXCL  &kp AT    &kp LBRC &kp RBRC &kp PIPE2                               &kp N7 &kp N8  &kp N9 &kp O   &kp P    &kp BSLH
            &mt LCTRL ESC &kp HASH  &kp DLLR  &kp LPAR &kp RPAR &kp GRAVE                               &kp LEFT &kp DOWN &kp UP  &kp RIGHT &kp SEMI &kp SQT
            &kp LSHFT     &kp PRCNT &kp CARET &kp LBKT &kp RBKT &kp TILDE &kp LSHFT &kp LSHFT       &kp LSHFT &kp LSHFT &kp N1 &kp N2  &kp N3  &kp DOT &kp FSLH &kp RCTRL
                                              &kp LGUI &kp DEL  &kp LGUI  &kp SPACE &kp TAB         &kp RET  &kp BSPC  &kp N0 &kp BSPC &kp RALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
